<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'components/head.njk' %}
  </head>
  <body class="bg-themeBlack text-themeGray h-full p-2 mx-auto font-fira">
    {{ content | safe }}
  </body>
  {% include 'scripts.njk' %}
</html>
