<div class="flex flex-col justify-between px-6 py-36 h-full">
  <div>
    <h3 class="text-lg leading-6 text-themeWhite pl-1 mb-2">Hi all. I am</h3>
    <h6 class="text-6xl text-themeWhite">Peng-Yu</h6>
    <h6 class="text-6xl text-themeWhite">Chen</h6>
    <h3 class="text-lg text-themeGreen pl-1">> Software Engineer</h3>
  </div>
  <div class="text-sm space-y-4">
    <h3>// find my profile on GitHub:</h3>
    <h3>
      <span class="text-themeBlue">const string</span>
      <span class="text-themeGreen">githubLink</span>
      <span class="text-themeWhite">=</span>
      <a href="https://github.com/walkccc">
        <span class="text-themeRed">"https://github.com/walkccc";</span>
      </a>
    </h3>
  </div>
</div>
