<div
  class="flex justify-between items-center h-14 p-4 lg:w-11/12 lg:mx-auto border-b border-themeLine"
>
  <h3>Chen, Peng-Yu</h3>
  <div class="hidden lg:flex justify-between items-center space-x-5">
    <div
      id="about-me-item"
      class="hover:text-themeWhite"
      onclick="scrollToAboutMe()"
    >
      <a href="#about-me">AboutMe</a>
    </div>
    <div
      id="work-exp-item"
      class="hover:text-themeWhite"
      onclick="scrollToWorkExp()"
    >
      <a href="#work-exp">WorkExp</a>
    </div>
    <!-- TODO(walkccc): Add sidebar animation
    <div id="menu-icon" class="pt-2 block">
      <i class="bx bx-menu text-3xl"></i>
    </div>
    <div id="x-icon" class="pt-2 hidden">
      <i class="bx bx-x text-3xl"></i>
    </div> 
    -->
  </div>
</div>
