<div
  class="flex justify-between items-center h-14 p-4 lg:px-16 border-b border-themeLine"
>
  <h3>pengyu-chen</h3>
  <div id="menu-icon" class="pt-2 block">
    <i class="bx bx-menu text-3xl"></i>
  </div>
  <div id="x-icon" class="pt-2 hidden">
    <i class="bx bx-x text-3xl"></i>
  </div>
</div>
