<div
  id="sidebar"
  class="flex flex-col justify-between h-full font-light leading-5 transition hidden"
>
  <div>
    {% for item in ['hello', 'about-me', 'experience', 'education'] %}
    <div
      class="h-14 p-4 flex items-center text-themeWhite border-b border-themeLine"
    >
      <h3>{{ item }}</h3>
    </div>
    {% endfor %}
  </div>
  <div class="h-12 flex justify-between items-center border-t border-themeLine">
    <h3 class="p-4 text-base font-normal leading-5">find me in:</h3>
    <div class="w-5/12 h-full flex">
      {% for socialMedia in ['github', 'linkedin', 'twitter'] %}
      <div class="w-1/3">
        <i
          class="bx
          bxl-{{ socialMedia }}
          p-3
          text-2xl
          border-l
          border-themeLine"
        ></i>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
