<div class="section__title">about-me</div>
<div class="section__container">
  {% for item in aboutMe %}
  <details class="group" open>
    <summary class="section__summary">
      <div class="section__summary__icons">
        {% include 'components/icons/arrow.njk' %}
        <i class="bx bxs-folder mr-2 text-{{ item.color }}"></i>
      </div>
      <h3 class="section__summary__title">
        {{ item.summary }}
      </h3>
    </summary>
    <div class="section__details">{{ item.details }}</div>
  </details>
  {% endfor %}
</div>
