<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.author }}</title>
    <link rel="stylesheet" href="tailwind.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-themeBlack text-themeGray h-screen p-4 font-fira">
    <!-- container -->
    <div
      class="bg-themeBlack flex flex-col h-full rounded-lg border border-themeLine"
    >
      <!-- navbar -->
      <div
        class="flex justify-between items-center h-14 p-4 border-b border-themeLine"
      >
        <h3>pengyu-chen</h3>
        <div class="hidden">
          <i class="bx bx-menu text-3xl"></i>
        </div>
        <div class="pt-2">
          <i class="bx bx-x text-3xl"></i>
        </div>
      </div>
      <!-- main body -->
      <div class="h-full overflow-y-scroll">
        <!-- hero -->
        <div class="flex flex-col justify-between my-24 h-5/6 p-6 hidden">
          <div>
            <h3 class="text-lg leading-6 text-themeWhite pl-1 mb-2">
              Hi all. I am
            </h3>
            <h6 class="text-6xl text-themeWhite">Peng-Yu</h6>
            <h6 class="text-6xl text-themeWhite">Chen</h6>
            <h3 class="text-lg text-themeGreen pl-1">> Software Engineer</h3>
          </div>

          <div class="text-sm space-y-4">
            <h3>// find my profile on GitHub:</h3>
            <h3>
              <span class="text-themeBlue">const string</span>
              <span class="text-themeGreen">githubLink</span>
              <span class="text-themeWhite">=</span>
              <span class="text-themeRed">https://github.com/walkccc";</span>
            </h3>
          </div>
        </div>
        <!-- END hero -->
        <div class="h-14 pl-6 flex items-center text-themeWhite">about-me</div>
        <div class="flex flex-col">
          <div class="bg-themeLine h-8 px-4 flex items-center text-themeWhite">
            <i
              class="bx bxs-right-arrow group-hover:rotate-90 transition mr-2"
            ></i>
            personal-info
          </div>
          <div class="px-4 py-2">
            <div class="group hover:cursor-pointer flex items-center">
              <div class="w-12 flex justify-between items-center">
                <i class="bx bx-chevron-right text-xl"></i>
                <i class="bx bxs-folder mr-2 text-themeRed"></i>
              </div>
              <h3 class="group-hover:text-themeWhite">bio</h3>
            </div>
            <div class="group peer hover:cursor-pointer flex items-center">
              <div class="w-12 flex justify-between items-center">
                <i
                  class="bx bx-chevron-right text-xl group-active:rotate-90 transition"
                ></i>
                <i class="bx bxs-folder mr-2 text-themeGreen"></i>
              </div>
              <h3 class="group-hover:text-themeWhite">education</h3>
            </div>
            <div class="hidden peer-active:block transition duration-500">
              <div class="flex items-center">
                <div class="w-12 pr-2 flex justify-end items-center">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7e/National_Taiwan_University_seal.svg/1920px-National_Taiwan_University_seal.svg.png"
                    class="w-4 h-4"
                  />
                </div>
                National Taiwan University
              </div>
              <div class="flex items-center">
                <div class="w-12 pr-2 flex justify-end items-center">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/1/16/New_York_University_Seal.svg/1920px-New_York_University_Seal.svg.png"
                    class="w-4 h-4"
                  />
                </div>
                New York University
              </div>
            </div>
            <div class="group hover:cursor-pointer flex items-center">
              <div class="w-12 flex justify-between items-center">
                <i class="bx bx-chevron-right text-xl"></i>
                <i class="bx bxs-folder mr-2 text-themeBlue"></i>
              </div>
              <h3 class="group-hover:text-themeWhite">interests</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- END main body -->

      <!-- sidebar menu -->
      <div
        class="flex flex-col justify-between h-full font-light leading-5 hidden"
      >
        <div>
          <div
            class="h-14 p-4 flex items-center text-themeWhite border-b border-themeLine"
          >
            <h3>hello</h3>
          </div>
          <div
            class="h-14 p-4 flex items-center text-themeWhite border-b border-themeLine"
          >
            <h3>about-me</h3>
          </div>
          <div
            class="h-14 p-4 flex items-center text-themeWhite border-b border-themeLine"
          >
            <h3>experience</h3>
          </div>
          <div
            class="h-14 p-4 flex items-center text-themeWhite border-b border-themeLine"
          >
            <h3>education</h3>
          </div>
        </div>
        <div
          class="h-12 flex justify-between items-center border-t border-themeLine"
        >
          <h3 class="p-4 text-base font-normal leading-5">find me in:</h3>
          <div class="w-5/12 h-full flex">
            <div class="w-1/3">
              <i
                class="bx bxl-github p-3 text-2xl border-l border-themeLine"
              ></i>
            </div>
            <div class="w-1/3">
              <i
                class="bx bxl-linkedin p-3 text-2xl border-l border-themeLine"
              ></i>
            </div>
            <div class="w-1/3">
              <i
                class="bx bxl-twitter p-3 text-2xl border-l border-themeLine"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <!-- END sidebar menu -->
    </div>
    <!-- END container -->
  </body>
</html>
