<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.author }}</title>
    <link rel="stylesheet" href="tailwind.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-themeWhite h-screen p-4 font-fira">
    <!-- home -->
    <div class="bg-themeBlack flex flex-col h-full rounded-lg">
      <!-- navbar -->
      <div
        class="flex justify-between h-14 p-4 text-themeGray border-b border-themeLine"
      >
        <h3>pengyu-chen</h3>
        <div id="menu" class="hidden">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            height="24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 6H20M4 12H20M4 18H20"
              stroke="#607B96"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
        </div>
        <div id="menu-cross" class="">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            height="24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <line
                fill="none"
                stroke="#607B96"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="5"
                y1="5"
                x2="19"
                y2="19"
              />
              <line
                fill="none"
                stroke="#607B96"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="19"
                y1="5"
                x2="5"
                y2="19"
              />
            </g>
          </svg>
        </div>
      </div>
      <!-- main body -->
      <div class="h-full hidden">
        <!-- hero -->
        <div class="flex flex-col justify-between mt-24 h-3/4 p-6">
          <div>
            <h3 class="text-lg leading-6 text-themeWhite pl-1 mb-2">
              Hi all. I am
            </h3>
            <h6 class="text-6xl text-themeWhite">Peng-Yu</h6>
            <h6 class="text-6xl text-themeWhite">Chen</h6>
            <h3 class="text-lg text-themeGreen pl-1">> Software Engineer</h3>
          </div>

          <div class="text-sm space-y-4">
            <h3 class="text-themeGray">// find my profile on GitHub:</h3>
            <h3>
              <span class="text-themeBlue">const string</span>
              <span class="text-themeGreen">githubLink</span>
              <span class="text-themeWhite">=</span>
              <span class="text-themeRed">https://github.com/walkccc";</span>
            </h3>
          </div>
        </div>
        <!-- END hero -->
      </div>
      <!-- END main body -->
      <!-- sidebar menu -->
      <div class="h-full font-light leading-5">
        <div class="h-14 p-4 text-themeWhite border-b border-themeLine">
          <h3>hello</h3>
        </div>
        <div class="h-14 p-4 text-themeWhite border-b border-themeLine">
          <h3>about-me</h3>
        </div>
        <div class="h-14 p-4 text-themeWhite border-b border-themeLine">
          <h3>experience</h3>
        </div>
        <div class="h-14 p-4 text-themeWhite border-b border-themeLine">
          <h3>education</h3>
        </div>
      </div>
      <!-- END sidebar menu -->
    </div>
    <!-- END home -->
  </body>
</html>
