<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.author }}</title>
    <link rel="stylesheet" href="tailwind.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-themeBlack text-themeGray h-screen p-2 md:w-2/3 lg:w-5/12 mx-auto font-fira overflow-x-hidden"
  >
    {{ content | safe }}
  </body>
  <script>
    const menuIcon = document.getElementById('menu-icon');
    const xIcon = document.getElementById('x-icon');
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('content');
    const toggleVisibility = () => {
      menuIcon.classList.toggle('hidden');
      menuIcon.classList.toggle('block');
      xIcon.classList.toggle('hidden');
      xIcon.classList.toggle('block');
      sidebar.classList.toggle('hidden');
      sidebar.classList.toggle('block');
      // content.classList.toggle('overflow-y-scroll');
    };
    menuIcon.addEventListener('click', () => toggleVisibility());
    xIcon.addEventListener('click', () => toggleVisibility());
  </script>
</html>
