---
layout: layouts/base.njk
---

<div class="bg-themeBlack flex flex-col h-full rounded-lg border border-themeLine">
  {% include 'components/navbar.njk' %}
  {% include 'layouts/content.njk' %}
</div>
