<div id="content" class="h-full overflow-y-scroll">
  {% include 'components/sidebar.njk' %}
  {% include 'components/hero.njk' %}
  {% include 'components/sections/about-me.njk' %}
  {% include 'components/sections/work-experience.njk' %}
</div>
