<div class="h-full overflow-y-scroll">
  {% include 'components/hero.njk' %}
  {% include 'components/sections/about-me.njk' %}
  {% include 'components/sections/work-experience.njk' %}
  {# {% include 'components/sidebar.njk' %} #}
</div>
