<div id="content" class="h-full overflow-y-scroll">
  <!-- hero -->
  {% include 'components/hero.njk' %}

  <!-- about me -->
  {% include 'components/sections/about-me.njk' %}

  <!-- work experience -->
  {% include 'components/sections/work-experience.njk' %}
</div>
